extends layout

block content
    h1.
        Champion List.
    table
        thead
          each championKey, i in championKeyList
            tr #{championKey}
        tbody
          each championEntry, i in synergyEntries
            tr
              td #{championEntry.champion} ||
              each allyEntry, i in championEntry.allyMatchups
                td  #{i}: #{allyEntry}
    ul
        each championEntry, i in synergyEntries
            li #{championEntry.champion}: #{championEntry.winrate}
            ul
              each allyEntry, i in championEntry.allyMatchups
                li #{i}: #{allyEntry}
